<header class="header">
    <div class="logo">
      <a href="/"><img src="/images/logo.png" alt="logo" class="logo" width="200"></a>
    </div>
      <div class="header-r-bot">
        <div class="navbar">
          <a href="/reservations">Reservas</a><i class="fa-regular fa-face-laugh-wink"></i>
          <a href="/contact">Contactanos</a>
          <a href="/about">Quienes somos</a>
        </div>
       
      </div>
  </header>
